    <!-- Mobile flyouts -->
    <div id="header-menu">
      <div id="header-menu-top">
        <h2><%=template.Title%></h2>
        <% if (template.Introduction) { %>
        <div class="header-intro"><%=template.Introduction%></div>
        <% } %>
        <div id="share">
          <a title="Tweet" class="share-action twitter" href="https://twitter.com/share?url=<%=template["Tweet URL"]%>&text=<% print(encodeURIComponent(template["Tweet"] || "")); %>&via=WNYC" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
          <a title="Share on Facebook" class="share-action facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%=template.URL%>" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
          <div class="clear"></div>
        </div>
      </div>
      <ul>
        <% if (template["Article URL"]) { %>
          <a href="<%=template["Article URL"]%>" target="_blank"><li>
            <h4><i class="fa fa-file"></i> Read full story<i class="icon-right fa fa-external-link-square"></i></h4>
          </li></a>
        <% } %>
        <a href="<%=template.URL%>" target="_blank"><li>
          <h4><i class="fa fa-desktop"></i> View in new window<i class="icon-right fa fa-external-link-square"></i></h4>
        </li></a>
        <% if (template["Data Source"]) { %>
          <li class="drawer">
            <h4><i class="fa fa-tasks"></i> Data<i class="icon-right fa fa-plus-square"></i><i class="icon-right fa fa-minus-square"></i></h4>
            <div>
              <p><%=template["Data Source"]%></p>
            </div>
          </li>
        <% } %>
        <% if (template["Embed Height"]) { %>
          <li class="drawer">
            <h4><i class="fa fa-code"></i> Embed<i class="icon-right fa fa-plus-square"></i><i class="icon-right fa fa-minus-square"></i></h4>
            <div>
              <strong>Direct Link</strong>
              <p><%=template.url%></p>
              <strong>Embed This</strong>
              <p>&lt;iframe frameborder="0" scrolling ="no" src="<span class="directlink"><%=template.URL%></span>" width="100%" height="<%=template["Embed Height"]%>" &gt;&lt;/iframe&gt;</p>
            </div>
          </li>
        <% } %>
        <% if (template.Credits) { %>
          <li class="drawer">
            <h4><i class="fa fa-thumb-tack"></i> Credits<i class="icon-right fa fa-plus-square"></i><i class="icon-right fa fa-minus-square"></i></h4>
            <div>
              <strong>Made by</strong>
              <p><%=template.Credits%></p>
              <p>Follow us <a href="https://twitter.com/datanews" target="_blank">@datanews</a>, email us <a href="mailto:jkeefe@wnyc.org?subject=Project_Feedback">here</a>.</p>
              <p>The WNYC Data News Team is part of a public radio station supported by audience contributions. If you like what you see, consider <a href="https://pledge3.wnyc.org/epledge/wnyc-data-news/?utm_source=wnyc&utm_medium=button&utm_campaign=pledge&utm_content=datanews" target="_blank">supporting our work</a>.</p>
            </div>
          </li>
        <% } %>
      </ul>
    </div>