    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- D3
    <script src="http://project.wnyc.org/assets/js/d3.v3.min.js"></script>
    -->

    <!-- Underscore.js -->
    <script src="http://project.wnyc.org/assets/js/underscore-min.js"></script>

    <!-- Backbone.js
    <script src="http://project.wnyc.org/assets/js/backbone-min.js"></script>
    -->

    <!-- Moment.js
    <script src="http://project.wnyc.org/assets/js/moment.min.js"></script>
    -->

    <!-- Ractive -->
    <script src="http://cdn.ractivejs.org/0.6.1/ractive.js"></script>

    <script src="js/wnyc.header.js"></script>

    <!-- Script for this project -->
    <script src="js/project.js"></script>

    <!-- End Chartbeat capture -->
    <script src="http://project.wnyc.org/assets/js/chartbeat.footer.js"></script>

  </body>
</html>
