
    <div id="wnyc-footer">

      <div id="wnyc-footer-inner">
        <div>
          <ul class="menu_left">
            <li class="first"><a href="http://www.wnyc.org"><h2>WNYC</h2></a></li>
            <li><a href="http://www.wnyc.org/about/">About WNYC</a></li>
            <li><a href="http://www.wnyc.org/contact/">Contact/Help</a></li>
            <li><a href="http://www.nypublicradio.org/underwriting/wnyc/">Become a Sponsor</a></li>
            <li><a href="http://www.wnyc.org/press/">Press</a></li>
            <li class="last"><a href="http://www.wnyc.org/careers">Jobs</a></li>
          </ul>

          <ul class="menu_right">
            <li class="social first last">  
              <ul>
                <li class="first"><a href="http://www.facebook.com/wnyc" title="Facebook" class="facebook external-link" target="_blank">Facebook</a></li>
                <li class="last"><a href="http://www.twitter.com/wnyc" title="Twitter" class="twitter external-link" target="_blank">Twitter</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <hr class="top">
        <hr class="bottom">
        <div class="footer_copyright">
          <div>WNYC 93.9 FM and AM 820 are New York's flagship public radio stations, broadcasting the finest programs from NPR and Public Radio International, as well as a wide range of award-winning local programming. WNYC is a division of <a href="http://www.newyorkpublicradio.org" class="nypr_link external-link" target="_blank">New York Public Radio</a>.</div>
      
          <div class="nypr_lockup">
            <ul>
              <li class="nypr first"><a href="http://www.newyorkpublicradio.org/" target="_blank" class="external-link">New York Public Radio</a></li>
              <li class="wnyc"><a href="http://www.wnyc.org">WNYC</a></li>
              <li class="wqxr"><a href="http://www.wqxr.org/" target="_blank" class="external-link">WQXR</a></li>
              <li class="njpr"><a href="http://www.njpublicradio.org/" target="_blank" class="external-link">New Jersey Public Rdio</a></li>
              <li class="greene-space last"><a href="http://www.thegreenespace.org" target="_blank" class="external-link">The Greene Space</a></li>
            </ul>
          </div>

          <div class="sponsor" style="clear: both;">
            WNYC is supported by <img src="http://www.wnyc.org/i/raw/1/wnyc-footer.png">
          </div>
      
          <ul class="nypr_copyright">
              <li class="norule first">© 2013 <a href="http://www.newyorkpublicradio.org" class="nypr_link external-link" target="_blank">New York Public Radio</a></li>
              <li><a href="http://www.wnyc.org/terms/">Terms of Use</a></li>
              <li><a href="http://www.wnyc.org/privacy/">Privacy Policy</a></li>
              <li class="last"><a href="http://www.wnyc.org/corrections/">Corrections</a></li>
          </ul>
      
          </div>
      </div>

    </div> <!-- #wnyc-footer -->
    